body {
    display: block;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    text-rendering: optimizeLegibility;
    height: auto;
    width: auto;
    min-width: 900px;
}
.alinktab {
    color: greenyellow;
}
.alinktab:link {
    text-decoration: none;
    background-color: #000000;
}
.alinktab:visited {
    text-decoration: none;
}
.alinktab:hover {
    text-decoration: underline;
    color: #ffffff;
}
.alinktab:active {
    text-decoration: underline;
}   
.alinkpublication:link {
    text-decoration: none;
    text-align: center;
}
.alinkpublication:visited {
    text-decoration: none;
}
.alinkpublication:hover {
    text-decoration: underline;
    color: red;
}
.alinkpublication:active {
    text-decoration: underline;
}   
h1 {
    font-family: 'EB Garamond', serif;
    margin: 0;
    color: #E5B80B;
    font-size: 50px;
}
h2 {
    color: #87CEEb;
    font-weight: bold;
    display: block;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    color: 	#006400;
    margin: 0;
    display: block;
}
h4 {
    color: #ffffff;
}
.top-container {
    display: block;
    position: relative;
    left: auto;
    right: auto;
    box-sizing: border-box;
    background-color: #000000;
    min-height: 15rem;
    height: auto;
    width: auto;
    margin: auto auto;
}
.middle-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 0px;
    height: auto;
    width: auto;
    margin: auto auto;
}
.bottom-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: #000000;
    min-height: 500px;
    height: auto;
    left: auto;
    right: auto;
    width: auto;
    margin: 0 auto;
}
.passport-container {
    display: inline-block;
    margin: 100px 20px;
    box-sizing: border-box;
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    right: auto;
    top: 0;
}
.title-container {
    display: inline-block;
    margin: 25px auto;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: auto;
    min-width: 700px;
}
.tab-container {
    display: inline-block;
    background-color: #00000000;
    left: auto;
    line-height: 2;
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    margin: 80px 20px;
}
.footer-container {
    box-sizing: border-box;
    margin: auto 0 0 0;
    top: 10px;
    bottom: 20px;
    left: 0px;
    right: 0px;
}
.skills {
    table-layout: auto;
    margin: 0 auto;
    width: auto;
    min-width: 900px;
}
.footer-link {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.footer-link:hover {
    opacity: 0.7;
}
.publications-row {
    display: block;
    width: auto;
    min-width: 900px;
    margin: 100px auto;
    line-height: 2;
}
.publisher-img1{
    height: 30px;
    width: auto;
}
.publisher-img2{
    height: 50px;
    width: 50px;
}
.publisher-img3{
    height: 40px;
    width: 150px;
}
.publisher-img4{
    height: 50px;
    width: 40px;
}
.publisher-img5{
    height: 60px;
    width: 60px;
}
.publication-img0 {
    position: relative;
    top: 0;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    bottom: 0.9375rem;
}
.publication-img {
    position: relative;
    height: 265.64px;
    width: 200px;
    top: 0;
    margin: auto auto;
    bottom: 0;
}
.education-img {
    position: relative;
    height: 90px;
    width: 112.725px;
    top: 0;
    margin: auto auto;
    bottom: 0;
}
.passport-img {
    position: relative;
    height: 7.5rem;
    top: auto;
    left: 0;
    bottom: auto;
}
.pc0 {
    position: relative;
    display: block;
    color: #123C69;
    width: auto;
    margin: 0 auto;
}
.pub-row-A {
    position: relative;
    height: auto;
    max-width: 250px;
    display: inline-block;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 750px;
    font-size: 0.85rem;
    bottom: auto;
}
.pub-row-B {
    height: auto;
    position: relative;
    max-width: 250px;
    display: inline-block;
    left: 0;
    bottom: 0;
    font-size: 0.85rem;
    line-height: 1.35;
    text-align: center;
    margin: 0 auto;
}
.pub-row-C {
    height: auto;
    position: relative;
    max-width: 250px;
    display: inline-block;
    right: 0;
    bottom: 0;
    font-size: 0.85rem;
    line-height: 1.35;
    text-align: center;
    margin: 0 auto;
}
.pub-row-D {
    height: auto;
    position: relative;
    width: auto;
    max-width: 700px;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 0.85rem;
    line-height: 1.35;
    text-align: justify;
    margin: 0 auto;
}
.redh2text {
    color: red;
}
.purpleh2text {
    color: #A32CC4;
}
br {
    margin-top: 10px;
}
.contact-me {
    table-layout: auto;
    margin: 0 auto;
}
.skills-img {
    height: 48.25px;
    width: 65.25px;
}
.education-row {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.edu-col1 {
    display: inline-block;
    position: relative;
    width: 725px;
    top: 0;
    left: 0;
}
.edu-col2 {
    display: inline-block;
    position: relative;
    width: 725px;
    top: 0;
    right: 0;
}
.edu-col-A {
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    top: 0;
    left: 0;
}
.edu-col-B {
    display: inline-block;
    position: relative;
    height: auto;
    width: 500px;
    top: 0;
    right: 0;
}
.edu-img1 {
    width: 154px;
    height: 137.7px;
    position: relative;
    margin: 0 auto;
}
.edu-img2 {
    width: 135px;
    height: 135px;
    position: relative;
    margin: 0 auto;
}
.experience-row {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.exp-col {
    display: inline-block;
    position: relative;
    width: 490px;
    top: 0;
    right: 0;
}
.exp-col-A {
    display: inline-block;
    position: relative;
    width: 490px;
    height: auto;
    top: 0;
    margin: 0 auto;
}
.exp-col-B {
    display: inline-block;
    position: relative;
    height: auto;
    width: 490px;
    bottom: 0;
    margin: 0 auto;
}
.exp-img {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}
.awards-row {
    display: block;
    height: auto;
    width: auto;
    margin: 0 auto;
}
.awards-col-A {
    display: inline-block;
    position: relative;
    width: 100px;
    height: auto;
    top: 0;
    right: 0;
    margin: 0 auto;
}
.awards-col-B {
    display: inline-block;
    position: relative;
    height: auto;
    width: 600px;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.awards-img {
    width: 132.25px;
    height: 110.4px;
    position: relative;
    margin: 0 auto;
}
.scholarship-img {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.copyright-container {
    display: block;
    position: absolute;
    height: 20px;
    width: auto;
    margin: 0 auto;
    bottom: 40px;
    left: 0;
    right: 0;
    top: auto;
}
.social-links-container {
    display: block;
    position: absolute;
    height: 425px;
    width: auto;
    margin: 0 auto;
    top: 30px;
    left: 0;
    right: 0;
    bottom: auto;
}
.links-1 {
    display: inline-block;
    position: relative;
    height: 400px;
    width: auto;
    top: 0;
    left: 0;
    margin: 5px 50px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
} 
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
.fa-skype {
    background: #00aff0;
    color: white;
}
.fa-yahoo {
    background: #430297;
    color: white;
}